  .btn-default {
    width: 164px;
    height: 40px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #ffffff, #eaf6ff);
    border: solid 1px #0f72e2;
  }

  .label {
    width: 35px;
    height: 20px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0f72e2;
  }

  .icon-style {
    font-size:19px;
    color:#0f72e2;
  }
button{
  margin:1vh
}
