.ic_close_edit_view {
  width: 22px;
  height: 22px;
  object-fit: contain;
  font-size: 28px;
  color: red;
  margin: 10px;
  // transform: rotate(-315deg);
}
.user-anchor-style{
  background: none;
  color: black;
}