.howToAction{
    margin-top: 16px;
    padding-bottom: 10px;
   display: block;
}

.accountSetup{
    font-weight: 600;
    color : #0f72e2; 
    display: block;  
    margin-bottom: 27px;
}
.listStyleType{
    list-style-type: none;
    
}
.listStyleSetup{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: -20px;
}
.accountSetupDiv{
    margin-top: 50px;
    margin-bottom: 20px;
}