<ep-busy-indicator *ngIf="loading" [loadingMsg]="loadingMsg"></ep-busy-indicator>
<div class="howToAction">
  <p>How to</p>
</div>

<div class="accountSetupDiv">
  <p class="accountSetup">Account Setup</p>
  <ul class="listStyleType">
    <li class="listStyleSetup">Solve problem with your account</li>
    <li class="listStyleSetup">Set up your account</li>
    <li class="listStyleSetup">Change your account settings</li>
    <li class="listStyleSetup">Recommended browsers and devices</li>
    <li class="listStyleSetup">Reset your password</li>
  </ul>
</div>

<div class="accountSetupDiv">
    <p class="accountSetup">Typeopplearning  policies</p>
    <ul class="listStyleType">
      <li class="listStyleSetup">Accommodations for learners with disabilities</li>
      <li class="listStyleSetup">Third party tools</li>
      <li class="listStyleSetup">International restrictions</li>
      <li class="listStyleSetup">Age restrictions</li>
      
    </ul>
  </div>

