.label-style{
    width: 100%;
    border-bottom: 0.3px solid lightgrey;
    padding-left: 9px;
    height: 36px;
    margin-bottom: 12px;
  }
.label-padding-style{
    padding-left: 33px;
}
.table-header {
    width: 1040px;
    height: 33px;
    border-radius: 2px;
    background-color: rgba(15, 114, 226, 0.1);
    color: #0f72e2;
  }
.table-margin-top{
    margin-top: 15px;
}