<div class="row ">
  <div class="col-md-3 label-padding-style">
    Remaining Budget : 
  </div>
  <div class="col-md-9 " >
      <label class="label-style" >{{remainingBudget.remainingBudget}}</label>
      
  </div>

  </div>

  <table class="table table-hover table-margin-top">
    <thead>
      <tr class="table-header">
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let budget of budgetDetail">
            <td>{{budget.description}}</td>
            <td>{{budget.type}}</td>
            <td>{{budget.date |  date: 'MM/dd/yyyy'}}</td>
            <td>{{budget.amount}}</td>
        </tr>
    </tbody>
  </table>