<nav aria-label="breadcrumb">
  <ol class="breadcrumb ol-list-style">
    <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li> -->
    <li  *ngFor="let item of breadcrumbs" class="breadcrumb-item" [ngClass]="{'active': item.active}"> 
        <a class="li-list-style" href="#" [routerLink]='item.link'>{{item.name }}</a> </li>
  </ol>
</nav>

<tl-user-detail-data></tl-user-detail-data>
<tl-user-training-status></tl-user-training-status>