.btn_add_new {
    width: 164px;
    height: 40px;
    object-fit: contain;
  }

  .Rectangle-3 {
    width: 164px;
    height: 40px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #ffffff, #eaf6ff);
    border: solid 1px #0f72e2;
  }

  .New {
    width: 35px;
    height: 20px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0f72e2;
  }

.customerAction{
  float: right;
  margin-bottom: 2vh;
  display: block;
  clear: both;
}
