.class-list-padding{
    margin-right: 15px ;
    color: #0f72e2 ;
}
.ol-list-style{
    background: none;
   padding-left: 0px !important;
   padding-top: 0px !important;
}
.li-list-style{
    color: black;
}
.equipment-font-size{
    font-size: medium;
   margin-top: 15px;
}
.equipment-cat-height{
    max-height: 33px;
    padding-left: 18px;
}
.div-margin{
    margin-left: -16px;
}