.equipment-type-margin{
    //margin-left: 18px;
    margin-top: 36px;

}
.equipment-type-list-margin{
    //margin-left: 18px;
    margin-top: -16px;
}
.p-padding{
    padding: 8px;
    background-color: #e5edf9;
    color: #0f72e2;
    padding-left: inherit;
}

.listShadow{
    box-shadow: 0 0 0 0 #d9dbdd !important;
    border-bottom: 0.3px solid;
}
.ul-islt-type{
    list-style: none;
    margin-left: -42px;
    margin-right: -24px;
}
.li-border-top{
    border-top: 0.3px solid;
    padding-left: 6px;
    min-height: 48px;
    font-size: initial;
}
.purchase-style {
    color: #0f72e2 !important;
    padding: 5px 30px 5px 30px;
    box-shadow: 0.15px 0.15px 0.15px 0.15px #0f72e2;
    //float: right;
    width: 111px;
    text-align: center;

  }
.label-text{
    margin-top: 12px;
    margin-left: 42px;
}
.label-button{
    float: right;
    
}
.start-anchor-style{
    background: none;
    color: #0f72e2;
}
