<!-- <table class="table">
<thead>
    <tr>
      <th scope="col">Customer name</th>
      <th scope="col">Contact name</th>
      <th scope="col">Users</th>
    </tr>
</thead>
<tbody>
  <tl-customer-item *ngFor="let cust of customers; let i = index" [customer]="cust" [i]="i"></tl-customer-item>
</tbody>
</table> -->
<table class="table table-hover">
    <thead>
      <tr class="table-header">
        <th scope="col">Customer name</th>
        <th scope="col">Contact name</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <!-- <tl-customer-item [customer]="customer"></tl-customer-item> -->
            <td *ngIf="mode==='view'">{{customer.name}}</td>
            <td *ngIf="mode==='view'">{{customer.contactName}}</td>
            <td *ngIf="mode==='view'">{{customer.noOfUsers}}</td>
            <td *ngIf="mode==='edit'"><input class="form-control" type="text" [value]="customer.name" #nameedit></td>
            <td *ngIf="mode==='edit'"><input class="form-control" type="text" [value]="customer.contactName" #contctnameedit></td>
            <td *ngIf="mode==='edit'"><input class="form-control" type="text" [value]="customer.noOfUsers" #nouseredit></td>
        </tr>
      <!-- <tl-customer-item *ngFor="let cust of customers" [customer]="cust"></tl-customer-item> -->
    </tbody>
  </table>
