<!-- <table class="table">
<thead>
    <tr>
      <th scope="col">Customer name</th>
      <th scope="col">Contact name</th>
      <th scope="col">Users</th>
    </tr>
</thead>
<tbody>
  <tl-customer-item *ngFor="let cust of customers; let i = index" [customer]="cust" [i]="i"></tl-customer-item>
</tbody>
</table> -->
<table class="table">
    <thead>
      <tr>

        <th scope="col">Customer name</th>
        <th scope="col">Contact name</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <ng-content></ng-content>
        </tr>
      <!-- <tl-customer-item *ngFor="let cust of customers" [customer]="cust"></tl-customer-item> -->
    </tbody>
  </table>
