<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Full Name : </label> 
  </div>
  <div class="col-md-9">
    <input type="text" class="input-style-class" value="{{userData.fullName}}">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Email : </label> 
  </div>
  <div class="col-md-9">
    <input type="text" class="input-style-class" value="{{userData.email}}">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Phone : </label> 
  </div>
  <div class="col-md-9">
    <input type="text" class="input-style-class" value="{{userData.phone}}">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="label-style-class">Address : </label> 
  </div>
  <div class="col-md-9">
    <input type="text" class="input-style-class" value="{{userData.address}}">
  </div>
</div>
