<div class="row" *ngFor="let equip of equipmentDetail">

  <div class="col-md-8 title-style ">{{equip.title}}</div><div class="col-md-4"></div>
  <div class="col-md-8 detail-style">{{equip.detail}}</div><div class="col-md-4"></div>

</div>

<hr class="hr-style">

<div class="row">
  <div class="col-md-6 sign-in-style">To complete this training please sign of</div><div class="col-md-6"></div>
  <div class="col-md-5">
    <select class="select-style"><i class="fa fa-chevron-down" aria-hidden="true"></i>
      <option selected>Sign according to the name</option>
      <option>Sign Please</option>
    </select>
  </div>
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <input type="text" class="select-style" placeholder="Enter the full name">
  </div>
  <div class="col-md-7"></div>
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
</div>