<div class="div-top-margin">
  <p>Choose an equipment category:</p>
</div>
<!-- <div class="row" *ngFor="let equip of equipmentCat">
  <div class="col-md-6">
      <mat-card class="card-list-style"> 
          <i class="fa fa-industry class-list-padding" ></i> {{equip.trainingName}} 
          <i class="fa fa-angle-right class-align-right"></i>
        </mat-card>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6">
      <mat-card class="card-list-style"> 
          <i class="fa fa-ambulance class-list-padding"></i> Building / Construction Equipment 
          <b><i class="fa fa-angle-right class-align-right"></i></b>
        </mat-card>
  </div>
  <div class="col-md-6"></div>
  

</div> -->

<div class="row" >
  <div class="col-md-6">
      <mat-card class="card-list-style"> 
          <i class="fa fa-industry class-list-padding" ></i> Transportation
          <i class="fa fa-angle-right class-align-right"></i>
        </mat-card>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6">
      <mat-card class="card-list-style"> 
          <i class="fa fa-ambulance class-list-padding"></i> Building / Construction Equipment 
          <b><i class="fa fa-angle-right class-align-right"></i></b>
        </mat-card>
  </div>
  <div class="col-md-6"></div>
  

</div>