.card-list-style{
    margin-bottom: 15px;
    height: 90px;
    padding-top: 33px;
}
.class-list-padding{
    margin-right: 15px ;
    color: #0f72e2 ;
}
.class-align-right{
    float: right;
    font-weight: 900;
}
.div-top-margin{
    margin-top: 48px;
}
.anchor-text-style{
    text-decoration-line: none;
    color: black;
}